{% extends "admin/base_site.html" %}
{% load static %}
{% block extrahead %}
<link rel="icon" href="{% static 'admin/img/favicon.ico' %}" sizes="48x48" />
{% endblock %}
{% block extrastyle %}
{% if env_name == "local" %}
<link rel="stylesheet" href={% static 'admin/css/local_color.css' %}/>
{% elif env_name == "dev" %}
<link rel="stylesheet" href={% static 'admin/css/dev_color.css' %}/>
{% endif %}
{% endblock %}
{% block branding %}
      <span id="logo">
        <a href="{% url 'admin:index' %}">
          <img src="{% static 'admin/img/400x400_logo.png' %}" alt="PPBP Logo" height="100px">
        </a>
      </span>
    {{ block.super }}
{% endblock %}
