@import url("contrib.css");

body {
  /* colors */
  --color-background: #505050;
  --color-mint: #dafbd9;
  --color-mint-darker: #C0DEBF;
  --color-green: #83ac4d;
  --color-plum: #71253f;
  --color-tan: #c47033;
  --color-peach: #fba165;

  /* font */
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  /* functional */
  --color-content: #303030;
  --color-content-secondary: #404040;
  --color-primary: var(--color-plum);
  --color-secondary: var(--color-tan);
  --color-section: var(--color-mint-darker);
  background-color: var(--color-background);
  color: var(--color-content);
  display: flex;
  min-width: 100px;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
  gap: 10px;
}

header {
  color: white;
  width: 100%;
  height: 50px;
}

.header-title {
  font-size: 25px;
}

h1 {
  margin: 0;
  font-size: 20px;
}

main {
  padding: 10px;
  background-color: var(--color-section);
}

a {
  color: var(--color-mint);
  text-decoration: none;
}

a:visited {
  color: var(--color-mint);
  text-decoration: none;
}

a.on-light {
  color: var(--color-plum);
}

a:visited.on-light {
  color: var(--color-plum);
}

textarea {
  background: #ffffff;
  color: #111827;
  border: 1px solid #d1d5db;
  border-radius: 16px;
  padding: 6px;
  font-size: 14px;
  outline: none;
  resize: none;
}

textarea:focus {
  border-color: var(--color-plum);
  box-shadow: 0 0 0 3px rgba(139, 92, 246, 0.1);
}

textarea::placeholder {
  color: var(--color-background);
}

input {
  background: #ffffff;
  color: #111827;
  border: 1px solid #d1d5db;
  border-radius: 16px;
  padding: 6px;
  font-size: 14px;
  outline: none;
  transition: all 0.2s ease;
  resize: none;
}

input[type=submit] {
  background: var(--color-plum);
  color: white;
}
input[type=submit]:hover {
  background: var(--color-plum);
  color: white;
  border-color: var(--color-peach);
  cursor: pointer;
}

.stat {
  display: flex;
  gap: 10px;
  align-items: center;
}

.stat-label {
  color: var(--color-content-secondary);
}
.stat-value {
  color: var(--color-primary);
  font-size: 20px;
}
