<div class="person">
  <span class="person-inmate-number">{{person.inmate_number}}</span>
  <span class="person-lname">{{person.last_name}}</span>
  <span class="person-fname">{{person.first_name}}</span>
  <span class="person-mname">{{person.middle_name}}</span>
  <span class="person-suffix">{{person.name_suffix}}</span>
  <span class="person-prison">{{person.current_prison}}</span>
  <span class="person-notes">{{person.notes}}</span>
  <span class="person-created-date">{{person.created_date}}</span>
</div>
