{% extends "contributors/contrib_base.html" %}
{% block extra_header %}
{{ form.media }}
{% endblock %}
{% block content %}
{% if not user.is_authenticated or not user.is_contributor %}

<span>hi</span>

{% else %}
  <div>
    <h1>Letters Added</h1>
    <div>
    {% for letter in letters %}
      {% include "contributors/letter.html" with letter=letter %}
    {% endfor %}
    </div>
  </div>

  <div>
    <h1>People Added</h1>
    <div>
    {% for person in people %}
      {% include "contributors/person.html" with person=person %}
    {% endfor %}
    </div>
  </div>

{% endif %}
{% endblock %}
