name: Backup databases
on:
  workflow_dispatch:
  schedule:
    # Runs Every day at 4:00am UTC
    - cron: "00 5 * * *"

jobs:
  backup-databases:
    name: Backup databases
    uses: significa/fly-pg-dump-to-s3/.github/workflows/trigger-backup.yaml@v3
    with:
      fly-app: ppbp-db-backup-worker
      volume-size: 1
      machine-size: shared-cpu-1x
      region: iad
    secrets:
      FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
